.v-container>div {
    flex: 1;
}

.v-container .image-container {
    border: 8px solid rgb(232 232 232 / 93%);
}

.v-left {
    width: 100%;
}

.v-right {
    gap: 0.5rem;
}

.accordion {
    border: none;
    margin-top: 2rem;
}

.accordionItem {
    background: white;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.accordionItem.expanded {
    box-shadow: var(--shadow);
    border-radius: 6px;
}

.accordionButton {
    background: white;
    padding: 1rem;
    cursor: pointer;
    justify-content: space-between;
}

.icon {
    padding: 10px;
    border-radius: 5px;
    background: #eeeeff;
}

.icon svg {
    fill: var(--blue);
}

.accordionButton .primaryText {
    font-size: 1.1rem;
}

@media only screen and (max-width: 1024px) {
    .v-container {
        flex-direction: column;
    }

    .v-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media only screen and (max-width: 500px) {
        .accordionButton .primaryText {
            font-size: 0.8rem;
        }
    }
}