.appBar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 0px 70px;
    top: 0;
    position: sticky;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    background-color: white;
    z-index: 99;
}

.appBar .brand {
    font-size: 1.2em;
    color: orange;
}

.appBar ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.appBar li a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: black;
    text-align: end;
    padding: 15px;
}

.appBar a:hover {
    color: orange;
}

.jumbotron img {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
    object-position: center;
}