@media (max-width: 768px) {
    .jumbotron img {
        max-height: 350px;
    }

    .container .card .image {
        margin: 20px;
        width: 300px;
        height: 150px;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .container .card .content {
        margin: 20px;
        width: 300px;
    }
}

@media screen and (max-width: 500px) {
    .appBar {
        justify-items: end;
    }

    .appBar .brand {
        font-size: 0.7em;
    }

    .menu ul {
        position: absolute;
        transform: translate(0px,-400px);
    }
    
    .menu ul.active {
        display: flex;
        margin: 20px auto;
        left: 0;
        right: 0;
        flex-direction: column;
        transform: translate(0px,0px);
        transition: all 1s ease-in-out;
        background-color: white;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    }

    .menu a {
        padding: 50px;
    }

    .jumbotron img {
        max-height: 250px;
    }

    .hamburger {
        display: grid;
    }

    .container .card .image {
        margin: 20px;
        width: 300px;
        height: 150px;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .container .card .content {
        margin: 20px;
        width: 300px;
    }

    footer {
        padding: 20px;
        font-size: 15px;
    }
}