@import './qbit/technicalTest.css';
@import './HomePage.css';
@import './Footer.css';
@import './ContactPage.css';
@import './MenuPage.css';
@import './AboutPage.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #ffffff;
    --on-background: #1c1e21;
    --background-footer: #121212;
    --brown: #c7a17a;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--on-background);
    background-color: var(--background);
}

.app-container {
    max-width: 1300px;
    margin: 0 auto;
}
